<h2>Search Book</h2>
<form action="/books" method="GET" >
    <div>
        <label for="name">Title</label>
        <input type="text" name="title" value="<%= searchTitles.title  %>" >
    </div>
    <div>
        <label for="name">Published After</label>
        <input type="date" name="publishedAfter" 
                value="<%= searchTitles.publishedAfter %>" >
    </div>
    <div>
        <label for="name">Published Before</label>
        <input type="date" name="publishedBefore" 
                value="<%= searchTitles.publishedBefore %>" >
    </div>
    <button type="submit"> Search </button>
</form>
<br>
<%  books.forEach( async book => { %>
   <div>
    <a href="/books/<%= book.id %>">
        <img height="150" width="100" src="<%= book.coverPath %>" alt="">
    </a>
   
    <p>title: <%= book.title %>  </br> 
    auhtor: <%= book.author.name %></p>
    <a href="/books/<%= book.id %>"> View </a>
    <a href="/books/<%= book.id %>/edit"> Edit </a>
    <%- include('../blocks/deleteForm.ejs', { url: `/books/${book.id}` }) %>
    </div> 
<%  }); %>