<h2 class="page-header"  ><%= author.name %></h2>
<div class="btn-row">
   <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
   <%- include('../blocks/deleteForm.ejs', 
                {url: `/authors/${author.id}`}) %> 
</div>

 <% if (books.length > 0) { %>  
    <h2 class="page-header" >Books by Author: <%= author.name  %></h2>  
         <%- include('../blocks/bookGrid.ejs' , 
                     { books : books
                     }) %>
    <% } %>             